@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Titillium+Web:wght@400;600&display=swap');
body {
    color: #F0F0F0;
    background-color: #3C486B;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.wTitle {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle {
    font-size: 40px;

}
#choose-monster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    gap: 10px;
}
.monster-card {
    text-align: center;
    width: 240px;
    height: 200px;
    background: #F45050;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
}
input {
    display: none;
}
.button-all {
    box-sizing: border-box;
    width: 78px;
    height: 40px;
    background: #f3eff5;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}